extends layout

block content
  h1= title
  p Welcome to #{title}

  script(type='text/javascript' src='/vendor/angular/angular.min.js')
  script(type='text/javascript' src='vendor/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='/vendor/highcharts/highcharts.js')
  script(type='text/javascript' src='/vendor/highcharts-ng/dist/highcharts-ng.min.js')
  script(type='text/javascript' src='/javascripts/stratagemMEANTaskApp.js')
  script(type='text/javascript' src='/javascripts/stratagemMEANTaskCtrl.js')

  .body-wrapper(ng-app='stratagemMEANTaskApp')
    div(ng-controller='stratagemMEANTaskCtrl')

      form
        h2 Form 1
        div.input
            span.label Title
            input(type='text' ng-model='newGraph.title')
        div.input
            span.label Data Min
            input(type='number' ng-model='newGraph.data_min')
        div.input
            span.label Data Max
            input(type='number' ng-model='newGraph.data_max')
        div.input
            span.label Type
            div.option
               input(type='radio' name='type' ng-model='newGraph.type' value='line')
               span.label Line
            div.option
               input(type='radio' name='type' ng-model='newGraph.type' value='scatter')
               span.label Scatter
            div.option
               input(type='radio' name='type' ng-model='newGraph.type' value='bar')
               span.label Bar
        input(type='submit' ng-click="save(newGraph)" value='Save and Display')

      form
       h2 Form 2
         div.select
           select(ng-model='graphToDisplay')
             option(ng-repeat="graph in graphList" value="{{graph._id}}") {{graph._id}} {{graph.title}}
         input(type='submit' ng-click="display(graphToDisplay)" value='Display')

      div 
       highchart(config="chartConfig" ng-show="chartConfig != null")
